.container-ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;

}

/*  REPOSNIVE */

@media (max-width: 560px) {
    .container-ul{
        grid-template-columns: 100%;
    }
}