
.details-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
}


.movie-imagen{
    border-radius: 20px;
}

.parrafos-container{
    font-size: 1.5rem;
}


.title-parrafo{
    margin-top: 0;
}